@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root
    {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
    }
   
  * {
      margin:0;
    }
  
  body 
    {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;    
    }
   
    h1,h2,h3,h4,h5 
    {
      font-family: 'Marcellus', serif;
    }
    #container-grid
    {
        display: grid;
        grid-template:
            "nav" auto
            "banner" 400px
            "descripcion" auto
            "feature" auto
            "ubicacion" auto
            "opinion" auto
            "footer" auto
    }
    

/*Resolución mobile*/
@media screen and (min-width:320px)
{
    nav 
    {
        grid-area: nav;
        display: grid;
        grid-template-areas:
            "logo"
            "menu";
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
        position: fixed;
        width: 75%;
        z-index: 100;

    }
    .logo 
    {
        grid-area: logo;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "logo-img menu-bars";
        background-color: var(--negro2);
        padding: 1rem;
    }
    .logo img 
    {
        justify-self: start;
        width: 50%;
        max-width: 180px;
    }
    .logo i 
    {
        grid-area: menu-bars;
        justify-self: end;
        color: var(--blanco);
        font-size: 2rem;
    }
    .menu 
    {
        grid-area: menu;
        display: grid;
        background-color: rgba(1, 10, 52, 0.838);
    }
    .menu-hr 
    {
        width: 90%;
        background-color: var(--blanco);
        justify-self: center; /*para centrar el hr*/
    }
    
    .item 
    {
        padding: 1rem 0;
    }
    
    nav a 
    {
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
    
    nav a:hover 
    {
        background-color: #0B3860;
        width: 100%;
    }
    .navbar-button 
    {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }
    #banner    
    {
        background-image: url('../img/slide1.jpg');
        background-size: cover;
        background-position: 50% 50%;
        min-height: 400px;
        margin-top: 60px;
    }
    #caminar
    {
        display: grid;
        grid-area: 400px;
        height: 700px;
        background: url(../IMG/slide1.jpg);           
        width: 104%;             
        color: white;  
    }
    .features-title2
    {
        background-color: rgba(0,0,0,0.35);
        text-align: start;
        font-size: 2.1em;
        margin-top: 579px;
        height: 15%;
    }
    #texto 
    {
        width: 104%;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: auto auto;
    }
    .texto-title
    {
        font-family: Roboto;
        font-size: 18px;
        padding: 70px;
        margin-left: -43px;
        width: 92%;
    }
    .icono
    {
        max-width: 0px;
        max-height: 0px;
    }
    #features
    {
        display: grid;
        grid-area: 200px;        
        background: url(../img/bg-features.png);
        color: white;
        width: 100%;
        padding-top: 1rem;
    }
    .features-title
    {
        background-color: rgba(0,0,0,0.35);
        text-align: center;                
        font-size: 20px; 
    }
    .features-description
        {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-content: space-around;
            font-size: 15px;
            text-align: center;
            padding-bottom: 40px;
        }
        .feature
        {
            height: 90px;
            width: 20%;
            min-width: 105px;
            max-width: 170px;
            margin: 0.8rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
        }
         
        .feature i
        {
            font-size: 2.2em;
            margin-bottom: 1.5rem;
        }
        
        .feature-blue
        {
            background-color: #00325eae;
        }
         
        .feature-black
        {
            background-color: rgba(0,0,0,0.59);
        }
        .ubicanos-title
        {
            text-align: center;
            padding: 0.5rem;
            font-size: 3.5em;
        }
        .mapa
        {
            display: grid;
            grid-template-columns: auto auto;
            width: 94%;
            margin-left: 3%;
            margin-top: 8px;
        }
    
        #direccion 
        {
            display: flex;
            justify-content: center;
            font-size: 15px;
        }
        hr
        {
            height: 2px;
            background-color: lightskyblue;
            width: 95%;
            margin-left: 2%;
            margin-right: 17%;
        }
        #telefono
        {
            display: flex;
            justify-content: center;
            font-size: 15px;
        }
        .container
        {
            height: 200px;
            overflow: hidden;
            position: relative;
            margin: 50px auto; 
        }
        .container img
        {
            width: 100%;
            height: 100%;
        }
        .container p
        {
            font-family: 'Marcellus', serif;
            font-size: 1rem;
            color: white;
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .opinionesconte
        {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -140px; 
            padding-bottom: 20%;
            height: 80px;
        }
        
        .opiniones
        { 
            background-image: url(../img/Group\ 200.svg);
            background-repeat: no-repeat;
            width: 12px;
            height: 180px;
            box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
            padding: 7px;
            margin: 22px;
            border-radius: 10px;
            position: absolute;
            right: 45px;
            left: 272px;
            font-size: 0px;
        }
        
        .opiniones2
        { 
            background-image: url(../img/Group\ 200.svg);
            background-repeat: no-repeat;
            width: 234px;
            height: 180px;
            box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
            background-color: white;
            padding: 7px;
            margin: 22px;
            border-radius: 10px;
            position: absolute;
            right: 45px;
            left: 10px;
        }
        .opiniones3
        { 
            background-image: url(../img/Group\ 200.svg);
            background-repeat: no-repeat;
            width: 234px;
            height: 180px;
            box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
            background-color: white;
            padding: 7px;
            margin: 22px;
            border-radius: 10px;
            position: absolute;
            right: 45px;
            left: -251px;
        }

        .imagen
        {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 40px;
        }

        .imagen img
        {
            width: 100%;
            height: 100%;
            object-fit: center;
        }

        .perfil
        {
            display: flex;
            align-items: center;
        }

        .nombreusuario
        {
            font-family: 'Marcellus', serif;
            display: flex;
            flex-direction: column;
        }

        .nombreusuario strong
        {
            color: white;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
        }

        .stars
        {
            color: white;
            margin-left: 90px;
            margin-bottom: 30px;
        }
        .comentarios
        {
            color: white;
        }
        /*FOOTER*/  
        .box i
        {
            color: white;
        }
        
        .pie-pagina
        {
            width: 100%;
            background-color: #000;
            margin-top: 76px;
        }
        .pie-pagina .grupo-1
        {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap:50px;
            padding: 20px 0px;
        }
        .pie-pagina .grupo-1 .box figure
        {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pie-pagina .grupo-1 .box figure img
        {
            width: 250px;
        }
        .pie-pagina .grupo-1 .box h2
        {
            color: #fff;
            margin-bottom: 30px;
            font-size: 11px;
        }
        .pie-pagina .grupo-1 .box p
        {
            color: #efefef;
            margin-bottom: 10px;
            font-size: 7px;
            margin-top: -28px;
        }
        
        .pie-pagina .grupo-1 .red-social a
        {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            color: #fff;
            text-align: center;
        }
        .pie-pagina .grupo-1 .red-social a:hover
        {
            color: aqua;
        }
}

/*Resolución tabletas*/
@media screen and (min-width:768px) 
{
    nav
    {
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo menu";
        
    }
    .logo img
    {
        width: 100%;
     }
     .logo i
     {
        display: none;
     }
     .menu
     {
        background-color: var(--negro2);
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-self: end;
    }
    .menu-hr
    {
        display: none;
    }
    .item
    {
        margin: 0 1rem;
        align-self: center;
    }
     
    nav a 
    {
        text-align: left;
    }
     
    nav a:hover 
    {
        background-color: transparent;
        color: var(--azuloscuro);
    }
     
    .navbar-button 
    {
        background-color: var(--azuloscuro);
        align-self: center;
    }
}

@media screen and (min-width: 1024px) 
    {
        #caminar
        {
            display: grid;
            grid-area: 400px;
            height: 700px;
            background: url(../IMG/slide1.jpg);           
            width: 104%;             
            color: white;  
        }
        .features-title2
        {
            background-color: rgba(0,0,0,0.35);
            text-align: start;
            font-size: 2.1em;
            margin-top: 579px;
            height: 15%;
        }
        #texto 
        {
            width: 104%;
            background-repeat: no-repeat;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: auto auto;
        }
        .texto-title
        {
        
            font-family: Roboto;
            font-size: 20px;
            padding: 70px;
            margin-left: 70px;
        }
        .icono
        {
            max-width: 250px;
            max-height: 250px;
            padding: 60px;
        }
    
    
        #features
        {
            display: grid;
            grid-area: 200px;        
            background: url(../img/bg-features.png);
            color: white;
            width: 100%;
            padding-top: 1rem;
        }
        .features-title
        {
            background-color: rgba(0,0,0,0.35);
            text-align: center;                
            font-size: 2.0em; 
        }
    
        .features-description
        {
            display: grid;
            grid-template-columns: auto auto auto auto;
            justify-content: space-around;
            font-size: 20px;
            padding-bottom: 40px;
        }
        .feature
        {
    
            width: 100%;  
            height: 130px;      
            margin: 0.8rem;
            padding: 1rem;          
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
         
        .feature i
        {
            font-size: 2.2em;
            margin-bottom: 1.5rem;
        }
        
        .feature-blue
        {
            background-color: #00325eae;
        }
         
        .feature-black
        {
            background-color: rgba(0,0,0,0.59);
        }
        .ubicanos-title
        {
            text-align: center;
            padding: 0.5rem;
            font-size: 3.5em;
        }
        .mapa
        {
            display: grid;
            grid-template-columns: auto auto;
            width: 94%;
            margin-left: 3%;
            margin-top: 8px;
        }
    
        #direccion 
        {
            display: flex;
            justify-content: center;
        }
        hr
        {
            height: 2px;
            background-color: lightskyblue;
            width: 57%;
            margin-left: 22%;
            margin-right: 13%;
        }
        #telefono
        {
            display: flex;
            justify-content: center;
        }
        .container
        {
            height: 200px;
            overflow: hidden;
            position: relative;
            margin: 50px auto; 
        }
        .container img
        {
            width: 100%;
            height: 100%;
        }
        .container p
        {
            font-family: 'Marcellus', serif;
            font-size: 3rem;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .opinionesconte
        {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            margin-top: -140px; 
            padding-bottom: 20%;
            height: 80px;
        }
        
        .opiniones
        { 
            background-image: url(../img/Group\ 200.svg);
            background-repeat: no-repeat;
            width: 270px;
            height: 156px;
            box-shadow: 2px 2px 30px rgba(0, 0 , 0, 0.1);
            background-color: white;
            font-size: 16px;
            padding: 20px;
            margin: 55px;
            border-radius: 10px;
            position: absolute;
            left: 100px;
            
        }
        .opiniones2
        { 
            background-image: url(../img/Group\ 200.svg);
            background-repeat: no-repeat;
            width: 270px;
            height: 156px;
            box-shadow: 2px 2px 30px rgba(0, 0 , 0, 0.1);
            background-color: white;
            padding: 20px;
            margin: 55px;
            border-radius: 10px;
            position: absolute;
        
        }
        .opiniones3
        { 
            background-image: url(../img/Group\ 200.svg);
            background-repeat: no-repeat;
            width: 270px;
            height: 156px;
            box-shadow: 2px 2px 30px rgba(0, 0 , 0, 0.1);
            background-color: white;
            padding: 20px;
            margin: 55px;
            border-radius: 10px;
            position: absolute;
            right: 100px;
        }
        
        .imagen
        {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 40px;
        }
        
        .imagen img
        {
        width: 100%;
        height: 100%;
        object-fit: center;
        }
        
        .perfil
        {
        display: flex;
        align-items: center;
        }
        
        .nombreusuario
        {
        font-family: 'Marcellus', serif;
        display: flex;
        flex-direction: column;
        }
        
        .nombreusuario strong
        {
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        }
        .stars
        {
        color: white;
        margin-left: 90px;
        margin-bottom: 30px;
        }
        .comentarios
        {
        color: white;
        }
        /*FOOTER*/  
        .box i
        {
            color: white;
        }
        
        .pie-pagina
        {
            width: 100%;
            background-color: #000;
        }
        .pie-pagina .grupo-1
        {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap:50px;
            padding: 45px 0px;
        }
        .pie-pagina .grupo-1 .box figure
        {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pie-pagina .grupo-1 .box figure img
        {
            width: 250px;
        }
        .pie-pagina .grupo-1 .box h2
        {
            color: #fff;
            margin-bottom: 25px;
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box p
        {
            color: #efefef;
            margin-bottom: 10px;
        }
        .pie-pagina .grupo-1 .red-social a
        {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            color: #fff;
            text-align: center;
        }
        .pie-pagina .grupo-1 .red-social a:hover
        {
            color: aqua;
        }
    }
